<!DOCTYPE html>
html(lang="en")
  include ../includes/adminheader.pug
  style. 
    .ui-sortable-helper{
      border: 1px solid rgba(0,0,0,.3);
    }
    .ui-sortable-handle{
      cursor: pointer;
    }
  body 
    include ../includes/nav.pug
    main(role="main", class="container")
      h2(class="page-title") List of products
      a(href="/products/add-product", class="btn btn-primary") Add a new product
      br
      if products.length > 0
        table.table.table-stripped
          thead
            tr
              th Product
              th Price
              th Category
              th Product Image
              th Edit
              th Delete
          tbody
            each prod in products
              if prod.title != "Home"
                tr
                  td= prod.title
                  td= parseFloat(prod.price).toFixed(2) 
                  td= prod.category
                  td
                    if !prod.image
                      img(src="imgs/noimage.jpg")
                    else
                      img(src=`/product_images/${prod._id}/${prod.image}`)
                  td
                    a(href="/products/edit-product/"+prod.id, class="btn btn-info") Edit
                  td
                    form(action="/products/delete-product/"+prod.id + "?_method=DELETE", method="post")
                      button(type="submit", class="btn btn-danger delete-product") Delete
      else
        h3.text-center There are no product.

    include ../includes/adminfooter.pug
    script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js")